@import url(variables.css);

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  box-sizing: border-box;
  text-align: center;

}

:root {
  --black: #000;
  --gray: #252c30;
  --dark-blue: #135cc5;
  --royal-blue: #4169E1;
  --pastel-blue: #A7C7E7;
  --light-blue: #ADD8E6;
  --light-red: #f87171;
  --dark-red: #dc2626;
  --light-orange: #FFD580;

  /*Intentions*/
  --primary: var(--light-blue);
  --secondary: var(--light-orange);

  /*Typograpy*/
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

.light {
  --primary: var(--pastel-blue);
  --secondary: var(--light-blue);
  color: rgb(17, 8, 94);
}

.dark {
  --primary: var(--royal-blue);
  --secondary: var(--dark-blue);
}

.main {
  background-color: var(--secondary);
}

.container {
  background-color: var(--primary);
}

.img {
  max-width: 6rem;
  display: block;
  display: flex;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}


#output {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 98.5vw;
  justify-content: space-around;
  align-content: space-around;
}